@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: url('./download.jpg');
    background-position: 0 1000px;
    font-family: 'Roboto', 'sans-serif';
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

h1{
    color: blue;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

h2{
    color: #777;
    font-size: 4rem;
    font-weight: 5rem;
}

p{
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 5rem;
}